{% extends "base.html" %}

{% block title %}Student Summary - Quiz Master{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Student Summary</h2>
    </div>    
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Performance per Subject</h3>
        <img src="/static/images/performance.png" alt="Performance per Subject">    
    </div>
    <div class="col-md-6">
        <h3>Average Quiz Scores</h3>
        <img src="/static/images/avg_scores.png" alt="Average Quiz Scores">
    </div>
</div>

<h1>lol this is Student</h1>
{% endblock %}